# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Build files
build/
dist/

# Packaging
*.egg-info/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Environment variables
.env
